@model Order

<form asp-action="Checkout" method="post" class="form-horizontal" role="form">
    <h4> You're just one step away from your beautiful flowers.</h4>
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="LastName" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="LastName" class="form-control" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="FirstName" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="FirstName" class="form-control" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="ShippingMethod" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <select asp-for="ShippingMethod" class="form-control" id="shippingMethod">
                <option value="Home">Home</option>
                <option value="Showroom">Showroom</option>
            </select>
        </div>
    </div>

    <div class="form-group homeShipping">
        <label asp-for="AddressLine1" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="AddressLine1" class="form-control" />
            <span asp-validation-for="AddressLine1" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group homeShipping">
        <label asp-for="AddressLine2" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="AddressLine2" class="form-control" />
            <span asp-validation-for="AddressLine2" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group homeShipping">
        <label asp-for="ZipCode" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="ZipCode" class="form-control" />
            <span asp-validation-for="ZipCode" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="City" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="City" class="form-control" />
            <span asp-validation-for="City" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group homeShipping">
        <label asp-for="State" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="State" class="form-control" />
            <span asp-validation-for="State" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group homeShipping">
        <label asp-for="Country" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="Country" class="form-control" />
            <span asp-validation-for="Country" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="PhoneNumber" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="PhoneNumber" class="form-control" />
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Email" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="PayMethod" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <select asp-for="PayMethod" class="form-control" id="payMethod">
                <option value="Cash">Cash</option>
                <option value="Card">Card</option>
            </select>
        </div>
    </div>

    <div class="form-group" id="cardNumber">
        <label asp-for="CardNumber" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="CardNumber" class="form-control" />
            <span asp-validation-for="CardNumber" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-5">
            <input type="submit" class="btn btn-primary" value="Complete order" />
        </div>
    </div>
</form>